@media screen and (max-width: 985px) {
    #footer-content-division {
        width: unset;
        max-width: 985px;
    }

    #category-grid-div {
        width: unset;
        max-width: 985px;
    }

    #grid-heading {
        width: 100%;

    }
}

@media screen and (max-width: 800px) {
    #all-ads-and-language-div {
        display: none;
    }

    #chat-text-div, #login-text-div, #post-ad-link-button {
        display: none;
    }

    #top-nav-bar {
        justify-content: space-between;
    }

    #menu-icon-div {
        display: block;
    }

}

